{% extends "base.html" %}

{% block content %}

<body>
    <div class="block">
        <form action="" method="post">
            <h1>Chat Room</h1>
            <div class="name-block">
                <label for="name">Name: </label>
                <input type="text" name="name" placeholder="Enter your name" required value={{name}}>
            </div>
            <div class="join-block">
                <label for="Code">Code: </label>
                <input type="text" name="code" placeholder="Enter room code" value={{code}}><br>
                {% if  error %}
                <br>
                <small style="color:red">{{ error }}</small>
                {% endif %}
                <br><br>
                <button type="submit" name="join" class="join-btn">Join Room</button>
            </div>
            <br><br>
            <hr>
            <br><br>
            <button type="submit" name="create" class="create-btn">Create Room</button>
        </form>
    </div>
</body>

{% endblock content %}