{% extends "base.html" %}

{% block content %}

<body>
    <div class="block">
        <form action="" method="post">
            <div id="icon-nd-title">
                <img style="height: 4vh;" src="{{ url_for('static', filename='assets/chat.png') }}" alt="chat_icon" srcset="">
                <h1>Chat Room</h1>

            </div>
            <br>
            <div class="name-block">
                <input type="text" name="name" placeholder="Enter your name" required value={{name}}>
            </div>
            <br>
            <button type="submit" name="create" class="create-btn">Create Room</button>
            <br><br>
            or
            <br>
            <div class="join-block">
                <input type="text" name="code" placeholder="Enter room code to join" value={{code}}><br>
                {% if  error %}
                <br>
                <small style="color:red">{{ error }}</small>
                {% endif %}
                <br><br>
                <button type="submit" name="join" class="join-btn">Join Room</button>
            </div>
            
        </form>
    </div>
</body>

{% endblock content %}